# Application
PORT=3000
# Change this key in production to something secure and unique
ADMIN_API_KEY=admin-api-key

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=flash_sale

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
